Source: ros-jade-uavc-v4lctl
Section: misc
Priority: extra
Maintainer: Patrick Feuser <pat@das-netz.de>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-cv-bridge, ros-jade-dynamic-reconfigure, ros-jade-message-generation, ros-jade-roscpp, ros-jade-rospy, ros-jade-std-msgs
Homepage: http://wiki.ros.org/uavc_v4lctl
Standards-Version: 3.9.2

Package: ros-jade-uavc-v4lctl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-cv-bridge, ros-jade-dynamic-reconfigure, ros-jade-message-runtime, ros-jade-roscpp, ros-jade-rospy, ros-jade-std-msgs
Description: ROS wrapper for the v4lctl tool
